@import "variables";
@import "footer";

body {
	background-image:url(../images/fondo.jpg);
	background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
	background-attachment:fixed;
  background-color: inherit;
	padding: 1em;
  }
  h1 {
    color: black;
  	width: auto;
  	height: auto;
    text-align: center;
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  h2{
    color: black;
    font-family:'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: underline;
  }
  #titulos {
  	animation-duration: 7s;
  	animation-name: aparecer;
  }
  @keyframes aparecer {
  		0% {
  			opacity: 0;
  		}
  		15% {
  			opacity: 0;
  			color: red;
  		}
  		100% {
  			opacity: 1;
  		}
  }
  .imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  	transform: rotate(180deg);
  }
  .homeCuerpo__texto {
    color: black;
  	display: block;
    font-family:'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.5;
    text-align:justify;
    word-spacing: 5px;
  	padding-left: 25px;
  	padding-right: 25px;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	border-radius: 10px;
  	animation-name: aVer;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease-in;
  	animation-duration: 20s;
  	animation-delay: 0s;
  }
  @keyframes aVer {
  	0% {
  		background-color: #FFA1A1;
  	}
  	20% {
  		background-color: #FFCAA1;
  	}
  	30% {
  		background-color: #FFF6A1;
  	}
  	40% {
  		background-color: #D8FFA1;
  	}
  	50% {
  		background-color: #A1FFAD;
  	}
  	60% {
  		background-color: #A1FFAD;
  	}
  	70% {
  		background-color: #A1D3FF;
  	}
  	80% {
  		background-color: #CBA1FF;
  	}
  	90% {
  		background-color: #FFA1E3;
  	}
  	100% {
  		background-color: #FFA1A1;
  	}
  }
  li a {
  	text-decoration: none;
  	float: left;
  	padding: 10px;
  	color: white;
  	transition-duration: 0.4s;
  }
  table {
    color: black;
    font-family:'Poppins', sans-serif;
  }

  .mailto {
    font-family:'Poppins', sans-serif;
  }
  form {
    font-family:'Poppins', sans-serif;
  	width:35%;
  	padding:16px;
  	border-radius:10px;
  	margin:auto;
  	background-image: linear-gradient(to left,blue,red);
  }

  .gif {
  	width: 75px;
  	height: 75px;
  	position: fixed;
  	bottom: 0;
  	right: 0;
  }

  .menu {
  	display: flex;
  	justify-content: center;
  }

  .flexGaleria {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding: 15px;
  }

  .imgGaleria {
  	margin: 10px;
  }
  .gridPadre {
  	display: grid;
  	grid-template-columns: 1fr 1fr 2fr;
  	grid-template-rows: repeat(3,50px);
  	grid-column-gap: 1px;
  	grid-row-gap: 1px;
  	height: 152px;
  	border: 1px solid white;
  	font-family:'Poppins', sans-serif;
  	background-color: #FDFF8A;
  }

  .gridHijo {
  	border: 2px solid white;
  }
  .contenedor {
  	display: grid;
  	grid-template-areas:
  		"header"
  		"galeria"
  		"descripciones"
  		"footer";
  }
  .contenedorHome {
  	display: grid;
  	grid-template-areas:
  		"header"
  		"homeCuerpo"
  		"homeMedia"
  		"footer";
  }
  .contenedorComentarios {
  	display: grid;
  	grid-template-areas:
  		"header"
  		"formulario"
  		"footer";
  }

  header {
  	grid-area: header;
  }
  footer {
  	grid-area: footer;
  }
  section#galeria {
  	grid-area: galeria;
  }
  section#descripciones {
  	grid-area: descripciones;
  }
  section#homeCuerpo {
  	grid-area:homeCuerpo;
  }
  section#homeMedia {
  	grid-area:homeMedia;
  }
  section#formulario {
  	grid-area:formulario;
  }
  #descripciones {
  	justify-self: center;
  }
  .badge {
  	font-family:'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
  	text-transform: lowercase;
  }

  @media (min-width: 576px) {
  	h1 {
  		font-size: 10rem;
  	}
  	h4 {
  		font-size: 100rem;
      color: red;
  	}
  }
